body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.topname{
    color: #FFA500;
}
.top-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#FF9874, red);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700px;
}
h2{
    font-size: 40px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}